* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: sans-serif;
  background-color: #f5f5f7;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

[hidden],
template {
  display: none;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

#wrapper {
  display: block;
  margin: 0 3rem;
}

@media (max-width: 720px) {
  #wrapper {
    margin: 0rem;
  }
}

header {
  margin: 4rem 0;
}

header h1 {
  display: block;
  margin: 0;
  padding-left: 1rem;
  color: #171b26;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

header h2 {
  display: block;
  margin: 0;
  padding-left: 1rem;
  color: #171b26;
  font-weight: normal;
  font-family: "Libre Baskerville", serif;
}

main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  place-items: start;
}

@media (max-width: 1500px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media (max-width: 600px) {
  main {
    display: block;
  }
}

main section {
  z-index: 1;
  position: relative;
  grid-column-end: span 1;
  margin: 1rem;
  /* border: 0.25rem white solid; */
  /* border-radius: 0.25rem; */
  width: calc(100% - 2rem);
  color: #171b26;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1em;
  background-color: #ffffff;
}

main section::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 0;
  padding-bottom: 56.25%;
}

main section div {
  display: block;
  padding: 2.5rem 1.25rem;
}

.color {
  z-index: -1;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

main section div time {
  white-space: nowrap;
}

section h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  font-family: "Libre Baskerville", serif;
}

footer {
  margin: 4rem 1rem;
  font-family: "Libre Baskerville", serif;
}
